<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Books Written: </b>
    <ul>
      <% @author.books.each do |book| %>
        <li><%= link_to book.title, book %></li>
      <% end %>
    </ul>
</p>



<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
