<h1>Listing books</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Last Comment</th>
    <th></th>
  </tr>

<%= link_to 'New Book', new_book_path %>

<% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book %></td>
    <td><%= link_to book.author.name, book.author %></td>
    <% if book.comments.any? %>
      <td><%= book.comments.last.body[0..19]+"... by "+book.comments.last.user.name %></td>
    <% else %>
      <td>no comments</td>
    <% end %>
    <% if session[:user_id] %>
      <% if !Favorite.where(:book_id=>book.id, :user_id=>session[:user_id]).any? %>
        <td><%= button_to 'Add Favorite', { :action => "create", :controller => "favorites", :book_id => book.id, :user_id => session[:user_id] } %></td> 
      <% else %> 
        <td>Added to Favorites!</td>
        <% end %>
    <% else %>
      <td>Log In to Favorite!</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

