<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
    <%= link_to @book.author.name, @book.author %>
</p>

<p>
<h3> Comments </h3>

<% @book.comments.each do |comment|%>
  <b><%= comment.user.name %></b><br>
  <%= comment.body %>
<% end %>

<br>




<% form_for(@comment) do |f| %>
  <p>

  <%= f.label :body, "Comment Body" %><br   />
  <%= f.text_field :body %>
  </p>

  <p>
  <%= f.submit "Share my ideas!" %>
  </p>
<% end %>
</p>
