<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
    <%= link_to @book.author.name, @book.author %>
</p>

<br> 

<p>
<h4> Discussion </h4>

<% @book.comments.each do |comment|%>
  <b><%= comment.user.name %></b> wrote at <%= comment.created_at.to_formatted_s(:long) %><br>
  <%= comment.body %>
  <br>
<% end %>
</p>

<br>

<p>
	<% if session[:user_id] %>
		<%=link_to "Click here to add to the discussion", new_book_comment_url(@book.id) %>	
	<% end %>
</p>





